/** isotope item filter styles */

.shuffleContainer
{
position:relative;
min-height:100%;
}

.hidden
{
display:none;
}


.shuffleItem
{
position: relative;
width: 25%;
min-height: 180px;
}


.size-s {
  width: 25%;
  min-height:180px;
}
.size-m
{
  width: 25%;
  min-height:180px;
}
.size-l  {
  width: 50%;
  min-height:180px;
}

.shuffleItem.active {
width:50%;
min-height: 180px;
}

/* small sized display */
.sidebar .size-s,
.sidebar .size-m,
.sidebar .size-l,
.sidebar .shuffleItem.active,
.sidebar .shuffleItem
{
width:100%;
}


.shuffleItem .matchweight
{
display:inline-block;
background-color: darkred;
color: white;
font-size: 18px;
padding:1px 2px;
}
.shuffleItem .itemcontent {
position:relative;
margin:0px 30px 30px 0px;
  /*min-width: 100%;
  min-height:100%; */
}
.shuffleItem .itemcontent .intro
{
display:block;
width:100%;
}
.shuffleItem .itemcontent .intro img
{
display:block;
width:100%;
height: auto;
}
.shuffleItem .button,
.shuffleItem .itemcontent .intro .excerpt
{
display: none;
}

.shuffleItem .itemcontent .main .textbox
{
display:none;
padding:24px;
}

.shuffleItem.active .itemcontent
{
position: relative;
padding-right:60px;
}

.shuffleItem.active .itemcontent .main
{
position:absolute;
top:0px;
left:0px;
width: auto;
margin:0px 60px 30px 0px;
background-color:white;
}

.shuffleItem.active .itemcontent .main.active
{
}
.shuffleItem.active .itemcontent .main.active .textbox
{
height:auto;
background-color: white;
}
.shuffleItem.active > .button
{
display:block;
position:absolute;
top:24px;
font-size:24px;
font-weight: bold;
right:10px;
margin:0px;
width:50px;
height:50px;
background-color: white;
}

.shuffleItem.active .itemcontent .intro
{
width:auto;
max-width:100%;
max-height:100%;
overflow-y: hidden;
}
.shuffleItem.active .itemcontent .intro img
{
display:block;
max-width:100%;
width: 100%;
height: auto;
}
.shuffleItem iframe
{
max-width:100% !important;
height:auto !important;
}
.shuffleItem.active iframe
{
max-width:100% !important;
height:auto !important;
min-height: 300px;
}

.shuffleMenu
{
}
.shuffleMenu .tagbutton{
}



@media screen and (max-width: 900px) {

.shuffleItem
{
width:33.33%;
min-height: 200px;
}


.size-s {
  width: 33.33%;
  min-height:180px;
}
.size-m
{
  width: 33.33%;
  min-height:180px;
}
.size-l  {
  width: 66.66%;
  min-height:180px;
}

.shuffleItem.active {
width:100%;
min-height: 400px;
}

}

@media screen and (max-width: 640px) {
.shuffleItem
{
width:50%;
}
.shuffleItem.active,
.sidebar .shuffleItem
{
width:100%;
}
.size-s {
  width: 50%;
  min-height:180px;
}
.size-m  {
  width: 50%;
  min-height:180px;
}
.size-l {
  width: 100%;
  min-height:180px;
}
.itemcontent {
  min-width: 100%;
  min-height:100%;
}

}

/**** Isotope CSS3 transitions ****/

.shuffleItem
{
transition: all 0.3s easeIn;
}
/*
.isotope .shuffleItem {
   -webkit-transition: all 0.5s easeIn;
    -moz-transition: all 0.5s easeIn;
    -o-transition: all 0.5s easeIn;
    transition: all 0.5s easeIn;
}

.isotope .shuffleItem {
   -webkit-transition: all 0.5s easeIn;
    -moz-transition: all 0.5s easeIn;
    -o-transition: all 0.5s easeIn;
    transition: all 0.5s easeIn;
}
.isotope .shuffleItem{
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .shuffleItem {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
*/
