/** isotope item filter styles */

.shuffleContainer
{
position:relative;
min-height:100%;
}
.loadbox
{
position: fixed;
left:50%;
top:10%;
width:160px;
margin-left:-80px;
text-align: center;
background-color: black;
color: white;
padding:4px 0px;
}

.itemcontent {
  /*min-width: 100%;
  min-height:100%;
  background: blue;*/
}

.hidden
{
display:none;
}


.shuffleItem
{
width: 25%;
background-color: blue;
min-height: 200px;
}


.size-s {
  width: 25%;
  min-height:180px;
}
.size-m
{
  width: 25%;
  min-height:180px;
}
.size-l  {
  width: 50%;
  min-height:180px;
}

.shuffleItem.active {
width:50%;
min-height: 400px;
background-color: red;
}



.sidebar .size-s,
.sidebar .size-m,
.sidebar .size-l,
.sidebar .shuffleItem.active,
.sidebar .shuffleItem
{
width:100%;
}
.itemcontent .intro
{
display:block;
width:100%;
}
.itemcontent .intro img
{
display:block;
width:100%;
height: auto;
}
.itemcontent .main
{
display:none;
}
.shuffleItem.active .itemcontent .main
{
display:block;
}
.shuffleItem.active .itemcontent .intro
{
width:auto;
max-width:100%;
max-height:100%;
overflow-y: hidden;
}
.shuffleItem.active .intro .excerpt
{
display:none;
}
.shuffleItem.active .itemcontent .intro img
{
display:block;
max-width:100%;
width: 100%;
heigth: auto;
}
.shuffleItem iframe
{
max-width:100% !important;
height:auto !important;
}
.shuffleItem.active iframe
{
max-width:100% !important;
height:auto !important;
min-height: 300px;
}





@media screen and (max-width: 900px) {

.shuffleItem
{
width:33.33%;
background-color: blue;
min-height: 200px;
}


.size-s {
  width: 33.33%;
  min-height:180px;
}
.size-m
{
  width: 33.33%;
  min-height:180px;
}
.size-l  {
  width: 66.66%;
  min-height:180px;
}

.shuffleItem.active {
width:100%;
min-height: 400px;
background-color: red;
}

}

@media screen and (max-width: 640px) {
.shuffleItem
{
width:50%;
}
.shuffleItem.active,
.sidebar .shuffleItem
{
width:100%;
}
.size-s {
  width: 50%;
  min-height:180px;
}
.size-m  {
  width: 50%;
  min-height:180px;
}
.size-l {
  width: 100%;
  min-height:180px;
}
.itemcontent {
  min-width: 100%;
  min-height:100%;
}

}

/**** Isotope CSS3 transitions ****/

.shuffleItem
{
transition: all 0.3s easeIn;
}
/*
.isotope .shuffleItem {
   -webkit-transition: all 0.5s easeIn;
    -moz-transition: all 0.5s easeIn;
    -o-transition: all 0.5s easeIn;
    transition: all 0.5s easeIn;
}

.isotope .shuffleItem {
   -webkit-transition: all 0.5s easeIn;
    -moz-transition: all 0.5s easeIn;
    -o-transition: all 0.5s easeIn;
    transition: all 0.5s easeIn;
}
.isotope .shuffleItem{
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .shuffleItem {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
*/
